<!doctype html>
<html><head>
  <script src="media/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" 
          src="media/base.js"></script>
  <link rel="stylesheet" type="text/css" href="media/base.css">
</head>
<body>
  <div id="layout">
      <div id="side_bar">
        <img src="media/dispatcher_icon.png" />
        <img src="media/settings_icon.png" />
      </div>
      <div id="lhs">
        <div class="viewport">
        </div>
      </div>
      <div id="rhs">
        <div class="viewport">
        </div>
      </div>
  </div>
</body></html>
